$honey-color: #d8b26e;
$transparent-white: #ffffffa9;
$forest-color: #11201e;

.html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  top: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background: $honey-color;
}

body::-webkit-scrollbar-thumb {
  background: $forest-color;
}

$p-font-sizes: (
  null: 14px,
  480px: 14px,
  640px: 16px,
  1024px: 18px,
);
$h1-font-sizes: (
  null: 28px,
  480px: 36px,
  640px: 36px,
  1024px: 48px,
);
$h2-font-sizes: (
  null: 24px,
  480px: 24px,
  640px: 24px,
  1024px: 36px,
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}
h1 {
  @include font-size($h1-font-sizes);
}
h2 {
  @include font-size($h2-font-sizes);
}
p {
  @include font-size($p-font-sizes);
}
$playfair-display: "Playfair Display", serif;
