.section {
  width: 100vw;
  height: auto;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  > img {
    width: 30vw;
    height: auto;
    margin: 0 0 0 3rem;
    object-fit: cover;
  }
  > .content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40vw;
    > h1 {
      margin: 0 0.5rem 0 3rem;
      font-weight: normal;
      
    }
    > .statement-content {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 5vh 0 0 5rem;
      > .statement-content-detail {
        width: 30vw;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        font-weight: normal;
      }
      > p {
        width: 25vw;
        height: max-content;
        font-size: 4vh;
        margin: 2vh auto 2vh auto;
        font-weight: bold;
        text-align: center;
      }
      > .support-gallary {
        display: flex;
        justify-content: center;
        margin: 2vh auto 2vh auto;
        width: 35vw;
        height: 7vh;
        > .svg-img {
          width: 6rem;
          height: 3rem;
          margin: 0 1rem 0 1rem;
        }
      }
      > button {
        margin: 2rem auto 0 auto;
        height: max-content;
        width: 10vw;
        padding: 2vh 0 2vh 0;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 825px) {
  .section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
      margin: 0;
      height: 30vh;
      width: 100vw;
    }
    > .content {
      width: auto;
      height: auto;
      > h1 {
        margin: 0 0.5rem 0 1rem;
      }
      > .statement-content {
        justify-content: center;
        margin-left: 0;

        > .statement-content-detail {
          width: 70vw;
          margin-bottom: 5rem;
        }
        > p {
          font-size: 1.5rem;
          width: 80vw;
        }
        > .support-gallary {
          width: 90vw;
        }
        > button {
          margin: 2rem auto 2rem auto;
          padding:  2vh;  
          font-weight: bold;
          width: max-content;
        }
      }
    }
  }
}
