.intro-section {
  width: 100vw;
  height: max-content;
  margin-bottom: 1rem;
  background-image: url("../assets/photo/online-learning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-position: -40% 50%;
  > .intro-header {
    width: 100vw;
    height: max-content;
    > .intro-logo {
      width: 10vw;
      margin: 1rem 0 0 1rem;
    }
  }
  > .intro-content {
    position: relative;
    padding: 1rem 0 1rem 1rem;
    margin: 10vh 0 0 10vw;
    width: 40vw;
    height: max-content;
    display: flex;
    flex-direction: column;

    > .intro-title {
      margin: 0%;
      font-size: 3rem;
      font-family: $playfair-display;
    }
    > .intro-subtitle {
      font-weight: 400;
      width: 30vw;
      margin: 1rem 0 0 3vh;
    }

    > .button-container {
      margin-top: 5rem;
      display: flex;
      flex-wrap: wrap;
      > a {
        margin: auto 0.2rem 1rem 3vh;
        height: 3rem;
        font-size: 1rem;
        padding: 0.5rem;
        width: 8rem;
        text-decoration: none;
        color: $forest-color;
      }
      >a:hover{
        color: white;
      }
    }
  }
  > .intro-cont {
    width: max-content;

    margin: 10vh auto 10vh auto;
    padding: 0 3vw 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;

    > h2 {
      font-weight: normal;

    }
  }
}

@media only screen and (max-width: 890px) {
  .intro-section {
    > .intro-header {
      width: 100vw;
      height: max-content;
      display: flex;
      justify-content: center;
      > .intro-logo {
        width: 20vw;
        margin: 1rem 0 0 1rem;
      }
    }
    > .intro-content {
      margin: 3rem auto auto auto;
      width: 50vw;
      height: max-content;
      > .intro-subtitle {
        width: 40vw;
        margin: 3vh auto 0 auto;
      }
      > .button-container {
        justify-content: center;
        margin-left: auto;
      }
    }
  }
}
@media only screen and (max-width: 630px) {
  .intro-section {
    height: max-content;

    > .intro-content {
      width: 100vw;
      padding: 0;
      >.intro-title{
        margin-left: 3vw;
      }
      > .intro-subtitle {
        width: 90vw;
        margin: 3vh auto 0 auto;
      }
      > .button-container {
        justify-content: center;
        margin-left: auto;
      }
    }
    >.intro-cont{
      width: 80vw;
    }
  }
}
