.support-gallary-workshop {
  width: 30vw;
  height: 30vh;
  margin-bottom: 2vh;
}
@media only screen and (max-width: 825px) {
  .support-gallary-workshop {
    width: 60vw;
  }
}
@media only screen and (max-width: 400px) {
  .support-gallary-workshop {
    width: 80vw;
  }
}
.carousel-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  
}
.carousel-btn {
  margin: 2rem auto 0 auto;
  height: max-content;
  width: max-content;
  padding: 1vh;
  font-size: 1rem;
  font-weight: bold;
  color: $honey-color;
}

// .pro-section {
//   width: 100vw;
//   height: auto;
//   display: flex;

//   > .pro-section-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100vw;
//     height: max-content;
//     margin: 5vh 0 0 0;
//     > .pro-section-title {
//       display: flex;
//       width: 70vw;
//       justify-content: center;
//       > .pro-section-title-content {
//         display: flex;
//         flex-direction: column;

//           > h1 {
//           margin: 0;
//         }
//       }
//       > .pro-section-title-img > img {
//         margin: auto;
//         width: 40vw;
//         height: 40vh;
//         object-fit: contain;
//       }
//       // > img {
//       //   margin-left: 0;
//       //   width: 5vw;
//       //   height: 8vh;
//       // }
//     }

//     > .pro-section-desc {
//       margin: auto;
//       width: 95vw;
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-around;
//       > .pro-section-desc-container {
//         border: solid $forest-color 2px;
//         border-radius: 10px;
//         text-align: center;
//         width: 30vw;
//         display: flex;
//         flex-direction: column;
//         > button {
//           margin: auto auto 2vh auto;
//           width: max-content;
//           padding: 2vh;
//           font-size: 1rem;
//           font-weight: bold;
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 653px) {
//   .pro-section {
//     > .pro-section-content {
//       width: 100vw;
//       margin: 0;
//       border: none;
//       background-color: #ffffffbd;
//       border-radius: 5px;
//       > .pro-section-title {
//         flex-direction: column;
//         width: 100vw;
//         justify-content: center;
//         > .pro-section-title-content {
//           > h1 {
//             width: 95vw;
//           }
//           > h2 {
//             font-weight: normal;
//             width: 70vw;
//           }
//         }
//         > .pro-section-title-img > img {
//           margin: auto;
//           width: 100vw;
//           height: 30vh;
//           object-fit: contain;
//         }
//       }

//       > .pro-section-desc {
//         justify-content: space-around;

//         > .pro-section-desc-container {
//           width: 55vw;
//           margin-left: 5vw;
//           margin-right: 5vw;
//           > button {
//             width: max-content;
//             padding: 2vh;

//             font-weight: bold;
//           }
//         }
//       }
//     }
//   }
// }
